/.vs
/x64

/findRearrangementsWithFixedPoints/x64
/findRearrangementsWithFixedPoints.sln
/findRearrangementsWithFixedPoints/findRearrangementsWithFixedPoints.vcxproj
/findRearrangementsWithFixedPoints/findRearrangementsWithFixedPoints.vcxproj.filters
/findRearrangementsWithFixedPoints/findRearrangementsWithFixedPoints.vcxproj.user

/test_generateRearrangements/x64
/test_generateRearrangements/test_generateRearrangements.vcxproj
/test_generateRearrangements/test_generateRearrangements.vcxproj.filters
/test_generateRearrangements/test_generateRearrangements.vcxproj.user

/test_splitString/x64
/test_splitString/test_splitString.vcxproj
/test_splitString/test_splitString.vcxproj.filters
/test_splitString/test_splitString.vcxproj.user

/test_validateInputData/x64
/test_validateInputData/test_validateInputData.vcxproj
/test_validateInputData/test_validateInputData.vcxproj.filters
/test_validateInputData/test_validateInputData.vcxproj.user