/.vs
/x64
/findRearrangementsWithFixedPoints/x64
/findRearrangementsWithFixedPoints.sln
/findRearrangementsWithFixedPoints/findRearrangementsWithFixedPoints.vcxproj
/findRearrangementsWithFixedPoints/findRearrangementsWithFixedPoints.vcxproj.filters
/findRearrangementsWithFixedPoints/findRearrangementsWithFixedPoints.vcxproj.user