/.vs
/x64
/findRearrangementsWithFixedPoints/x64
/findRearrangementsWithFixedPoints.sln
/findRearrangementsWithFixedPoints/findRearrangementsWithFixedPoints.vcxproj
/findRearrangementsWithFixedPoints/findRearrangementsWithFixedPoints.vcxproj.filters
/findRearrangementsWithFixedPoints/findRearrangementsWithFixedPoints.vcxproj.user
/test_generateRearrangements/x64
/test_generateRearrangements/test_generateRearrangements.vcxproj
/test_generateRearrangements/test_generateRearrangements.vcxproj.filters
/test_generateRearrangements/test_generateRearrangements.vcxproj.user